.App {
  text-align: center;
}
a {
  text-decoration: none;
}

.header a {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 20px;
  color: #264653;
}
.selected {
  color: #e63946 !important;
  font-weight: bold;
}
